<div class="col-3 ">
    <div class="card text-success text-uppercase font-weight-bold border border-success mb-3">
        <div class="card-header">Total Orders</div>
        <div class="card-body bg-success text-white">
            <h5 class="card-title">{{ tord }}</h5>
        </div>
    </div>
</div>


<div class="col-3 ">
    <div class="card text-primary text-uppercase font-weight-bold border border-primary mb-3">
        <div class="card-header">Delivered</div>
        <div class="card-body bg-primary text-white">
            <h5 class="card-title">{{ dod }}</h5>
        </div>
    </div>
</div>


<div class="col-3 ">
    <div class="card text-info text-uppercase font-weight-bold border border-info mb-3">
        <div class="card-header">Shipped</div>
        <div class="card-body bg-info text-white">
            <h5 class="card-title">{{ sod }}</h5>
        </div>
    </div>
</div>

<div class="col-3 ">
    <div class="card text-danger text-uppercase font-weight-bold border border-danger mb-3">
        <div class="card-header">Pending</div>
        <div class="card-body bg-danger text-white">
            <h5 class="card-title">{{ pod }}</h5>
        </div>
    </div>
</div>