{% extends "base.html" %}
{% block content %}
<div class="container mt-4 ">
    <div class="row">
        <div class="col  mx-auto">
            <form action="" method="POST" class="bg-light  border border-info p-4">
                {% csrf_token %}
                {{form.errors}}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.email.label_tag }}
                    {{ form.email}}
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password2.label_tag }}
                    {{ form.password2}}
                </div>
                <input class="btn btn-lg btn-block btn-success" type="submit" name="submit" value="Register">
            </form>
        </div>
    </div>
</div>
{% endblock content %}